<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/places/tabs/offers/' + place.id"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons>
      <ion-button (click)="onUpdateOffer()" [disabled]="!form.valid">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      
    </ion-row>
  </ion-grid>
</form>
</ion-content>
